body{
  background-color: #180557;
  color: white;
  padding: 10px;
}

h2{
  color: green;
}

div{
  padding: 10px;
}

h4{
  cursor: pointer;
}

span{
  display: flex;
}
span h4{
  margin-right: 25px;
}